# Image
KEYCLOAK_IMAGE=docker.io/viafluvial/via-fluvial-keycloak-themes
KEYCLOAK_VERSION=26.0.0

# Bootstrap admin
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin123

# Hostname
KEYCLOAK_HTTP_PORT=18080
KC_HOSTNAME_URL=http://localhost:18080
KC_HOSTNAME_ADMIN_URL=http://localhost:18080

# DB
KC_DB_URL_HOST=postgres
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=keycloak123
KC_DB_POOL_INITIAL_SIZE=5
KC_DB_POOL_MAX_SIZE=20

# Observability
KC_LOG_LEVEL=INFO

# Google provider (realm import placeholder)
GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me
